<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <div class="fondoCarrito">
                <div class="container">
                    <div class="row">
                        <div class="productos col-xl-8 col-md-12">
                            <% carrito.forEach(item => { %>
                                <div class="row my-3">
                                    <div class="imagen col-xl-5 col-lg-4 col-md-4 col-sm-12">
                                        <img class="img-fluid w-100 h-100" src="/images/products/<%= item.producto.imagenes.split(',')[0] %> " alt="">
                                    </div>
                                    <div class="datos col-xl-7 col-lg-8 col-md-8 col-sm-12">
                                        <h3>
                                            <%= item.producto.nombre %>
                                        </h3>
                                        <hr>
                                        <div>
                                            <h5 class="alert alert-warning"><i class="fas fa-piggy-bank"></i> Rinde
                                                <%= item.producto.porciones %>
                                                    porciones
                                            </h5>
                                        </div>
                                        <div class="botones d-flex justify-content-around caja">
                                            <div class="form-inline comen">
                                                <label for="my-select">Cantidad:</label>
                                                <select id="cantidad" class="form-control ml-3" name="cantidad">
                                                    <% for( let i = 1; i <= 6 ; i++ ) { %>
                                                      <% if (item.cantidad == i) { %>
                                                       <option selected><%= i %> </option>
                                                      <% } else{ %>
                                                        <option ><%= i %> </option>

                                                        <% } %>
                                                        <% } %>
                                        </select>
                                            </div>

                                            <h3>$
                                                <%= item.producto.precio  * item.cantidad %>
                                            </h3>
                                            <a href="/carrito/eliminarProducto/<%= item.producto.id %> ">
                                                <button type="button" class="btn btn-outline-danger butonRed botonn"><i class="fas fa-trash-alt"></i></button>
                                            </a>
                                        </div>
                                        <div>
                                            <h5 class="alert alert-success"><i class="fas fa-info-circle"></i> Comen bien
                                                <%= item.cantidad * item.producto.porciones %> comenzales</h5>
                                        </div>
                                    </div>

                                </div>
                                <% }) %>

                        </div>

                        <div class="ticket col-xl-4 col-md-12 py-3 bg-light">
                            <div class="detalles">
                                <h4 class="text-uppercase">Detalle de la compra</h4>
                                <hr>
                                <h5>Productos</h5>
                                <ul>
                                    <% carrito.forEach(item => { %>

                                        <li>
                                            <%=  item.producto.nombre %>
                                        </li>
                                        <%})%>
                                </ul>
                                <hr>
                                <h5>Adicionales</h5>
                                <ul>
                                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, voluptatum!</li>
                                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, voluptatum!</li>
                                </ul>
                                <hr>
                            </div>
                            <div class="total d-flex flex-row justify-content-around">
                                <h4 class="">Total compra:</h4>
                                <h4>$ 2.500</h4>
                            </div>
                            <div class="d-flex justify-content-around mt-3">
                                <a href="/productos/view">

                                    <button class="btn btn-outline-info ">Seguir comprando</button></a>
                                <a href="/checkOut">

                                    <button class="btn btn-outline-success ">Finalizar comprar</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('partials/footer') %>

    </body>

</html>