<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <section id="tablero">
                <div class="list-Prod">
                    <% productos.forEach(producto => { %>

                        <div class="row">
                            <div class="col-lg-3 col-md-6 image">
                                <img src="/images/products/<%= (producto.imagenes.split(','))[0] %>" alt="blog-img">
                            </div>
                            <div class="col-lg-7 col-md-6 data">
                                <div class="titlePrice">
                                    <h3>
                                        <a href="/productos/details/<%- producto.id %>">
                                            <%- producto.nombre %>
                                        </a>
                                    </h3>
                                    <h4>$
                                        <%- producto.precio %>
                                    </h4>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-12">
                                        <p>
                                            <%- producto.descripcion %>
                                        </p>
                                    </div>
                                    <div class="col-xl-6 col-lg-12">
                                        <li>
                                            tiempo de preparación:
                                            <%- producto.tiempo%> min
                                        </li>
                                    </div>
                                    <div class="col-xl-6 col-lg-12">
                                        <li>
                                            categoria:
                                            <%- producto.categoria.nombre %>
                                        </li>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-2 control ">
                                <a href="/admin/products/<%- producto.id %>/edit"> <button><i class="far fa-edit"></i></button></a>
                                <form action="/productos/<%- producto.id %>?_method=DELETE" method="POST">
                                    <a href=""> <button type="submit"><i class="fas fa-trash-alt"></i></button></a>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <!--finaliza el row-->
                        <% }) %>
                </div>
            </section>
            <%- include('partials/footer') %>
    </body>

</html>