<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <section id="tablero">
                <div class="list-Prod">
                    <% productos.forEach(producto => { %>

                        <div class="row">
                            <div class="col-lg-3 col-md-6 image">
                                <img src="/images/products/<%- producto.image %> " alt="">
                            </div>
                            <div class="col-lg-7 col-md-6 data">
                                <div class="titlePrice">
                                    <h3>
                                        <%- producto.name %>
                                    </h3>
                                    <h4>$
                                        <%- producto.price %>
                                    </h4>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-12">
                                        <p>
                                            <%- producto.description %>
                                        </p>
                                    </div>
                                    <div class="col-xl-6 col-lg-12">
                                        <li>
                                            tiempo de preparación:
                                            <%- producto.tiempo%> min
                                        </li>
                                    </div>
                                    <div class="col-xl-6 col-lg-12">
                                        <li>
                                            categoria:
                                            <%- producto.category %>
                                        </li>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-2 control">

                                <a href=""><i class="fas fa-trash-alt"></i></a>
                                <a href="/productos/<%- producto.id %>/edit "><i class="far fa-edit"></i></a>
                            </div>
                        </div>
                        <hr>
                        <!--finaliza el row-->
                        <% }) %>
                </div>
            </section>
            <%- include('partials/footer') %>
    </body>

</html>