<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <div id="fondoRegister">
                <div id="logreg-forms" class="mt-5">
                    <form class="form-signin" id="logForm" method="POST" action="">
                        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Iniciar sesión</h1>

                        <input type="email" id="inputEmail" class="form-control" placeholder="Email" autofocus="" name="email" value="<%=(typeof old != 'undefined' && old.email)?old.email: '' %> ">

                        <small class="text-danger" id="errorEmail"><%= (typeof errors != 'undefined' && errors.email) ? errors.email.msg : '' %></small>

                        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" name="pass" value="">

                        <small class="text-danger" id="errorPass"><%= (typeof errors != 'undefined' && errors.pass) ? errors.pass.msg : '' %></small>

                        <% if (typeof errorReg != 'undefined') { %>
                            <span class="text-danger text-center"><%- errorReg %> </span>
                            <% } %>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1" name="recordarme">
                                    <label class="custom-control-label" for="customCheck1">Recordarme</label>
                                </div>
                                <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Iniciar sesión</button>
                                <a href="#" id="forgot_pswd">Olvidaste tu contraseña?</a>
                                <hr>

                                <!--<div class="social-login">
                            <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Ingresar con Facebook</span> </button>
                            <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google"></i> Ingresar con Google</span> </button>
                        </div>
                        <hr>-->
                                <!-- <p>Don't have an account!</p>  -->
                                <a href="/users/registro"><button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Soy nuevo!</button></a>
                    </form>

                    <!--<form action="/reset/password/" class="form-reset">
                        <input type="email" id="resetEmail" class="form-control" placeholder="Email" required="" autofocus="">
                        <button class="btn btn-primary btn-block" type="submit">Restablecer contraseña</button>
                        <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Atrás</a>
                    </form>-->
                </div>
            </div>



            <%- include('partials/footer') %>

                <script src="/javascripts/loginValidator.js"></script>
    </body>

</html>