<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>


    <body>
        <%- include('partials/header') %>
            <div class="bgimg">
                <div class="container perfil">
                    <div class="row">
                        <div class="col-12 col-md-5 col-lg-4 col-xl-3">
                            <div class="card py-5">
                                <img src="/images/avatars/<%- usuario.avatar %> " class="card-img-top" alt="">
                                <div class="card-body text-center p-4">
                                    <a href="#" class="">Cambiar Avatar</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-12 col-md-7 col-lg-8 mb-3 col-xl-9">
                            <div class="card ">
                                <div class="card-body p-5">

                                    <ul class="nav nav-tabs">
                                        <li class="nav-item primero"><a class="active nav-link">Mis Datos</a></li>
                                        <li class="nav-item segundo"><a class="nav-link">Mis Direcciones</a></li>
                                    </ul>
                                    <div class="tab-content pt-3 solapa1">
                                        <div class="tab-pane active">
                                            <form class="form" novalidate="">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col-12 col-md-6">
                                                                <div class="form-group">
                                                                    <label>Nombre</label>
                                                                    <input class="form-control" type="text" name="nombre" value="<%- usuario.nombre %>" disabled>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <div class="form-group">
                                                                    <label>Apellido</label>
                                                                    <input class="form-control" type="text" name="apellido" value="<%- usuario.apellido %>" disabled>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12 col-md-6">
                                                                <div class="form-group">
                                                                    <label>Email</label>
                                                                    <input class="form-control" type="email" value="<%- usuario.email %>">
                                                                </div>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="notifications-blog" checked="">
                                                                    <label class="custom-control-label" for="notifications-blog">Quiero recibir ofertas por mail</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <div class="form-group">
                                                                    <label>Celular</label>
                                                                    <input class="form-control" type="text" value=" ">
                                                                </div>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="notifications-news" checked="">
                                                                    <label class="custom-control-label" for="notifications-news">Quiero recbir notificaciones</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row d-flex justify-content-around my-3">
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn btn-danger m-1" data-toggle="modal" data-target="#exampleModal">
                                                                        Cambiar contraseña
                                                                    </button>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Cambiar contraseña</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form action="">
                                                                        <div class="row">
                                                                            <div class="form-group col-12">
                                                                                <label>Contraseña actual</label>
                                                                                <input class="form-control" type="password">
                                                                            </div>

                                                                            <div class="form-group col-12">
                                                                                <label>Contraseña nueva</label>
                                                                                <input class="form-control" type="password">
                                                                            </div>

                                                                            <div class="form-group col-12">
                                                                                <label>Confirmar <span class="d-none d-xl-inline">contraseña</span></label>
                                                                                <input class="form-control" type="password">
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-primary">Confirmar</button>
                                                                        </div>
                                                                    </form>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <button class="btn btn-success m-1" type="submit">Guardar cambios</button>
                                                </div>
                                            </form>

                                        </div>
                                    </div>


                                    <div class="tab-content pt-3 solapa2">
                                        <div class="tab-pane active">
                                            <form class="form" novalidate="">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label>Dirección</label>
                                                                    <input class="form-control" type="text" name="direccion" placeholder="" value="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label>CP</label>
                                                                    <input class="form-control" type="number" name="cp" placeholder="" value="">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label>Piso / Dpto</label>
                                                                    <input class="form-control" type="text" name="piso" placeholder="" value="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12 col-xl-6">
                                                                <div class="form-group">
                                                                    <label>Localidad</label>
                                                                    <input class="form-control" type="text" name="localidad" placeholder="" value="">
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-xl-6">
                                                                <div class="form-group">
                                                                    <label>Provincia</label>
                                                                    <select class="form-control" name="" id="">
                                                                                <option value=""></option>
                                                                                <option value="caba">CABA</option>
                                                                                <option value="bsas">Prov de Bs. As.</option>
                                                                                <option value="catamarca">Catamarca</option>
                                                                                <option value="chaco">Chaco</option>
                                                                                <option value="chubut">Chubut</option>
                                                                                <option value="cordoba">Cordoba</option>
                                                                                <option value="corrientes">Corrientes</option>
                                                                                <option value="rrios">Entre Ríos</option>
                                                                                <option value="formosa">Formosa</option>
                                                                                <option value="jujuy">Jujuy</option>
                                                                                <option value="pampa">La Pampa</option>
                                                                                <option value="rioja">La Rioja</option>
                                                                                <option value="mendoza">Mendoza</option>
                                                                                <option value="misiones">Misiones</option>
                                                                                <option value="neuquen">Neuquen</option>
                                                                                <option value="rioNegro">Río Negro</option>
                                                                                <option value="salta">Salta</option>
                                                                                <option value="sanjuan">San Juan</option>
                                                                                <option value="sanluis">San Luis</option>
                                                                                <option value="stacruz">Santa Cruz</option>
                                                                                <option value="stafe">Santa Fe</option>
                                                                                <option value="sgoestero">Sgo. del Estero</option>
                                                                                <option value="tfuego">Tierra del Fuego</option>
                                                                                <option value="tucuman">Tucumán</option>
                                                                            </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col d-flex justify-content-end">
                                                        <button class="btn btn-success" type="submit">Guardar cambios</button>
                                                    </div>
                                                </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>
            <%- include('partials/footer') %>

                <script>
                    $(".nav .nav-link").on("click", function() {
                        $(".nav").find(".active").removeClass("active");
                        $(this).addClass("active");
                    });

                    $('.primero').click(function() {
                        $(".solapa2").hide();
                        $(".solapa1").show();
                    });

                    $('.segundo').click(function() {
                        $(".solapa1").hide();
                        $(".solapa2").show();
                    });
                </script>

    </body>

</html>