<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>


    <body>
        <%- include('partials/header') %>
            <div class="bgimg">
                <div class="container perfil">
                    <div class="row">
                        <div class="col-12 col-md-5 col-lg-4 col-xl-3">
                            <div class="card py-5">
                                <img src="/images/avatars/<%- usuario.avatar %> " class="card-img-top" alt="">
                                <div class="card-body text-center p-4">
                                    <a href="#"  class="">Cambiar Avatar</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-12 col-md-7 col-lg-8 mb-3 col-xl-9">
                            <div class="card ">
                                <div class="card-body p-5">

                                    <ul class="nav nav-tabs">
                                        <li class="nav-item primero"><a class="active nav-link">Mis Datos</a></li>
                                        <li class="nav-item segundo"><a class="nav-link">Mis Direcciones</a></li>
                                        <li class="nav-item tercero"><a class="nav-link">ExperienciaCookIt</a></li>
                                    </ul>

                                    <!--Comienzo de solapa numero 1-->
                                    <div class="tab-content pt-3 solapa1">
                                        <div class="tab-pane active">
                                            <form action="/users/perfil/<%=usuario.id%>" method="POST" id="perfilForm" class="form" novalidate="" enctype="text/plain">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col-12 col-md-6">
                                                                <div class="form-group">
                                                                    <label>Nombre</label>
                                                                    <input class="form-control" type="text" name="nombre" value="<%- usuario.nombre %>" disabled>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <div class="form-group">
                                                                    <label>Apellido</label>
                                                                    <input class="form-control" type="text" name="apellido" value="<%- usuario.apellido %>" disabled>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12 col-md-6">
                                                                <div class="form-group">
                                                                    <label>Email</label>
                                                                    <input class="form-control" type="email" name="email" value="<%- usuario.email %>">
                                                                </div>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" name="mailOfer" class="custom-control-input" id="notifications-blog" checked="">
                                                                    <label class="custom-control-label" for="notifications-blog">Quiero recibir ofertas por mail</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <div class="form-group">
                                                                    <label>Celular</label>
                                                                    <input class="form-control" name="celular" type="number" value="<%- usuario.celular %>">
                                                                </div>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" name="celOfer" class="custom-control-input" id="notifications-news" checked="">
                                                                    <label class="custom-control-label" for="notifications-news">Quiero recbir notificaciones</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row d-flex justify-content-around my-3">
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn btn-danger m-1" data-toggle="modal" data-target="#exampleModal">
                                                                        Cambiar contraseña
                                                                    </button>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Cambiar contraseña</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form action="" id="passForm">
                                                                        <div class="row">
                                                                            <div class="form-group col-12">
                                                                                <label>Contraseña actual</label>
                                                                                <input class="form-control" type="password">
                                                                            </div>

                                                                            <div class="form-group col-12">
                                                                                <label>Contraseña nueva</label>
                                                                                <input class="form-control" type="password">
                                                                            </div>

                                                                            <div class="form-group col-12">
                                                                                <label>Confirmar <span class="d-none d-xl-inline">contraseña</span></label>
                                                                                <input class="form-control" type="password">
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" form="passForm" class="btn btn-primary">Confirmar</button>
                                                                        </div>
                                                                    </form>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <button class="btn btn-success m-1" form="perfilForm" type="submit">Guardar cambios</button>
                                                </div>
                                            </form>


                                        </div>
                                    </div>
                                    <!--Finalización de solapa 1-->

                                    <!--Comienzo de solapa 2-->

                                    <div class="tab-content pt-3 solapa2">
                                        <div class="tab-pane active">
                                            <form class="form" novalidate="">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label>Dirección</label>
                                                                    <input class="form-control" type="text" name="direccion" placeholder="" value="<%- usuario.direccion %>">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label>CP </label>
                                                                    <input class="form-control" type="number" name="cp" placeholder="" value="<%- usuario.cp %>">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label>Piso / Dpto </label>
                                                                    <input class="form-control" type="text" name="piso" placeholder="" value="<%- usuario.depto %>">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12 col-xl-6">
                                                                <div class="form-group">
                                                                    <label> Provincia</label>
                                                                    <button type="button" class="input-group-text" id="state"><ion-icon name="arrow-down-outline"></ion-icon></button>
                                                                
                                                                    <input id="provincia" type="text" class="form-control" placeholder="provincia" value="Seleccione la provincia" name="provincia">
                                                                    <select name="" id="provincias" style="display:none;"></select>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-xl-6">
                                                                <div class="form-group">
                                                                    <label>Localidad</label>
                                                                        <button type="button" class="input-group-text" id="city"><ion-icon name="arrow-down-outline"></ion-icon></button>
                                                                            <input id="localidad" type="text" class="form-control" placeholder="localidad" value="Seleccione la localidad" name="localidad">
                                                                                <select name="" id="localidades" style="display:none;"></select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col d-flex justify-content-end">
                                                        <button class="btn btn-success" type="submit">Guardar cambios</button>
                                                    </div>
                                                </div>
                                        </div>

                                        <!--Finalización de solapa2-->
                                        <!--Comienzo de solapa 3-->

                                    </div>
                                    <div class="tab-content pt-3 solapa3">
                                        <div class="tab-pane active">
                                            
                                                                    
                                                                    <div class="container contain">
                                                                        <div class="row">
                                                                          <div class="col-sm-9 filaCommets">
                                                                            <h2>¡ Muchas gracias por tu interés !</h2>
                                                                    
                                                                            <h4>Contanos tu experiencia</h4>
                                                                            
                                                                            <div class="input-text">
                                                                                  <textarea name="order_comments" class="input-text " id="order_comments" rows="5" cols="60"placeholder="Aqui podrás volcar tu opinión, sugerencias y/o comentarios."></textarea>
                                                                    
                                                                            </div>
                                                                                <button type="button" class="btn btn-primary">Añadir fotos</button>
                                                                                <button type="button" class="btn btn-success">Publicar</button>
                                                                                <button type="button" class="btn btn-danger">Borrar</button>
                                                                            </div>
                                                                            
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                
                                                                
                                        </div>
                                    </div>





                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>
            <%- include('partials/footer') %>

                <script>
                    $(".nav .nav-link").on("click", function() {
                        $(".nav").find(".active").removeClass("active");
                        $(this).addClass("active");
                    });

                    $('.primero').click(function() {
                        $(".solapa1").show();
                        $(".solapa2").hide();
                        $(".solapa3").hide();
                    });

                    $('.segundo').click(function() {
                        $(".solapa1").hide();
                        $(".solapa2").show();
                        $(".solapa3").hide();
                    });
                    
                    $('.tercero').click(function() {
                        $(".solapa1").hide();
                        $(".solapa2").hide();
                        $(".solapa3").show();
                    });
                </script>
                <script src="/javascripts/script.js"></script>
    </body>

</html>