<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <div class="bgimg users-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="header-title pb-3 mt-0">Usuarios</h5>
                                    <div>
                                        <table class="la-tabla table table-fixed table-hover">
                                            <thead>
                                                <tr class="align-self-center">
                                                    <th class="grande">ID</th>
                                                    <th class="grande">Apellido</th>
                                                    <th class="grande">Nombre</th>
                                                    <th>Email</th>
                                                    <th>Acciones</th>

                                                </tr>
                                            </thead>
                                            <div>
                                                <% dbUsuarios.forEach(usuario => { %>
                                                    <tr>
                                                        <td class="grande">
                                                            <%= usuario.id %>
                                                                <a href="/users/perfil/ <%- usuario.id %>"><img src="/images/avatars/<%- usuario.avatar %>" alt="" class="thumb-sm rounded-circle mr-2"></a>
                                                        </td>
                                                        <td class="grande">
                                                            <%- usuario.apellido %>
                                                        </td>
                                                        <td class="grande">
                                                            <%- usuario.nombre %>
                                                        </td>
                                                        <td>
                                                            <%- usuario.email %>
                                                        </td>
                                                        <td><a href="/users/perfil/<%= usuario.id %> " class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons"></i></a>
                                                            <a href="" class="delete ml-2" title="Delete" data-toggle="tooltip"><i class="material-icons"></i></a>
                                                            <select class="form-control">
                                                                <% if (usuario.rol == "user") { %>
                                                                    <option selected><%= usuario.rol %> </option>
                                                                    <option value="admin">admin</option>
                                                                <% } %>
                                                                <% if (usuario.rol == "admin") { %>
                                                                    <option selected><%= usuario.rol %> </option>
                                                                    <option value="user">user</option>
                                                                    <% } %>
                                                               
                                                              </select>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </div>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <%- include('partials/footer') %>
    </body>

</html>