<div class="header container-fluid">
    <div class="container">

        <div class="row cabecera">
            <!--LOGOTIPO-->
            <div class="col-12 col-md-5 col-lg-3">
                <a class href="/"><img src="/images/logos/casita3.png" alt="logo Cook It" class="img-fluid logo">
                    <h5 class="slogan text-right"> Choose It. Take It. Cook It</h>
                </a>
            </div>

            <!--NAVEGACION Y BUSCADOR-->
            <div class="col-12 col-md-7 col-lg-9">
                <div class="d-flex flex-column">
                    <div class="row">
                        <!--BUSCADOR-->
                        <form class="formulario ml-auto" action="/buscador">
                            <div class="form-group">
                                <!--<label for="inputPassword6">Buscador</label>-->
                                <input type="text" id="inputPassword6" class="form-control" placeholder="¿Que querés comer hoy de rico?" name="buscar">
                            </div>
                        </form>
                        <script lang="Javascript">
                            document.buscar.submit()
                        </script>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-outline-success ml-auto">Guia Nutricional</button>
                    </div>
                </div>
            </div>
        </div>

        <!--NAVEGACION - MENU-->
        <nav class="navbar-expand-md text-center my-4">

            <!--boton para que desplegar el menu  en caso que el viewport sea tamaño movil-->
            <button class="navbar-toggler my-4" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars "></i></button>

            <!--barra de menu que aparece a partir de la vesión de tablet-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CATEGORÍAS</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <% categorias.forEach(categoria => { %>
                                <a class="dropdown-item" href="/productos/category/<%=categoria.id %>">
                                    <%= categoria.nombre %>
                                </a>
                                <% }) %>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">RECOMENDADOS</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <% productosHeader.forEach(producto => { %>
                                <a class="dropdown-item" href="/productos/productsDetail/<%=producto.id %>">
                                    <%= producto.nombre %>
                                </a>
                                <% }) %>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/productos/view">Ver todos</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown" href="" id="navbarDropdown" role="button" data-toggle="modal" data-target="#sobreNos" aria-haspopup="true" aria-expanded="false">SERVICIO</a>
                    </li>
                </ul>

                <div class="modal fade" id="sobreNos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">¿Cómo funciona nuestro servicio?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                            </div>
                            <div class="modal-body">
                                <div class="item">
                                    <img class="imgModal" src="/images/servicio/1.png" alt="1">
                                </div>
                                <div class="item">
                                    <img class="imgModal" src="/images/servicio/2.png" alt="2">
                                </div>
                                <div class="item">
                                    <img class="imgModal" src="/images/servicio/3.png" alt="3">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--NAVEGACION USUARIO-->

                <ul class="navbar-nav ml-auto user">

                    <% if (user) { %>
                        <li>
                            <a class="nav-link" href="/carrito"><i class="fas fa-shopping-basket"></i> MI COMPRA</a>
                        </li>
                        <li class="ml-2">

                            <a class="nav-link " href="/users/login" hidden>LOGIN</a>
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-alt"></i> MI CUENTA</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/users/perfil/<%= user.id %> "><i class="far fa-id-card"></i> Mi perfil</a>
                                <a class="dropdown-item" href="/users/logout"><i class="fas fa-sign-out-alt"></i> Cerrar sessión</a>
                                <% if (user && user.rol == "admin") { %>
                                    <div class="dropdown-divider"></div>
                                    <h3 class="dropdown-header">Administrador</h3>
                                    <a class="dropdown-item" href="/admin/users"><i class="fas fa-users"></i> Usuarios</a>
                                    <a class="dropdown-item" href="/admin/products"><i class="fas fa-shopping-cart"></i> Productos</a>
                                    <a class="dropdown-item" href="/admin/products/add"><i class="fas fa-cart-plus"></i> Agregar producto</a>
                                    <% } %>
                            </div>
                        </li>
                        <% } else {%>
                            <li class="ml-2">

                                <a class="nav-link " href="/users/login"><i class="fas fa-sign-in-alt"></i> LOGIN</a>
                                <a class="nav-link " href="/users/logout" hidden>LOGOUT</a>
                                <li class="ml-2">

                                    <% } %>


                </ul>
            </div>

        </nav>


    </div>

</div>